body{
  background-image: url(../Pictures/Design_4.png);
  background-color: black;
  margin: 0px;
  padding: 0px;

  height: 4200px;
}

.main-heading{
  color: white;
  position: absolute;
  top: 370px;
  left: 385px;

  font-family: Poppins;
  font-size: 100px;
  font-weight: bold;

}

.subtext{
  color: white;
  position: absolute;
  top: 490px;
  left: 430px;

  font-family: Space mono;
  font-size: 25px;
}

.about-us-div{
  display: flex;
}


/*pictures and lines*/

.main-img{
  width: 100%;
  height: 100%
  
}

/* OUR GOALS PART (1ST SECTION) */

.our-vision-div{
  
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;

  border-bottom: 1px groove white;
}

.sub-heading1{
  color: white;
  margin-top: 50px;
  margin-bottom: 30px;

  font-size: 60px;
  font-family: poppins;
  font-weight: bold;
  text-shadow: 4px 4px 4px rgb(0, 68, 255);
}

.heading-text1{
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  text-indent: 50px;

  color: white;

  font-size: 22px;
  font-family: space mono;

}



/* ORIGINS (2ND SECTION) */

.who-is-star-div{

  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-bottom: 1px groove white;
  
}

.sub-heading2{
  margin-top: 50px;
  margin-bottom: 30px;
  margin-right: px;
  color: white;

  font-size: 60px;
  font-family: poppins;
  font-weight: bold;
  text-shadow: 4px 4px 4px rgb(0, 68, 255);
}

.heading-text2{
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  text-indent: 50px;

  color: white;

  font-size: 22px;
  font-family: space mono;
}

/* FOUNDERS (3RD SECTION) */

.sub-founder-div{
  height: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 200px;
}

.sub-heading3{
  color: white;
  font-size: 60px;
  font-family: Poppins;
  font-weight: bold;
  margin-top :50px;
  text-shadow: 4px 4px 4px rgb(0, 68, 255);
  margin-bottom: 30px;
}

/*  FOUNDERS SECTIONS (PEOPLE) */

.founders-div{
  width: 1700px;
  height: 1200px;
  margin-top: 50px;

  display: flex;
  justify-content: space-around;
  

}



.founder-div1{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(30, 73, 150);
  margin-left: 80px;

  border-radius: 30px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.767) ;

  border-style: solid;
  border-width: 0.1px;
  border-color: transparent;

  transition: border-color 0.75s;
}

.founder-div1:hover{
  border-color: white;
}

.founder-div2{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(42, 83, 150);
  margin-left: 80px;
  margin-right: 80px;
 
  border-radius: 30px;
  box-shadow: 5px 5px 20px black ;

  border-style: solid;
  border-width: 0.1px;
  border-color: transparent;

  transition: border-color 0.75s;

}

.founder-div2:hover{
  border-color: white;
}

.founder-div3{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(30, 62, 150);
  margin-right: 80px;

  border-radius: 30px;
  box-shadow: 5px 5px 20px black ;

  border-style: solid;
  border-width: 0.1px;
  border-color: transparent;

  transition: border-color 0.75s;

}

.founder-div3:hover{
  border-color: white;
}

.founder-head{
  font-weight: bold;
  font-family: poppins;
  font-size: 35px;

  margin-top: 150px;
  color: white;


}

.founder-img{
  height: 400px;
  margin-top: 50px;
  border-radius: 30px;

  border-style: solid;
  border-width: 0.1px;
  border-color: white;
}

.founder-text{
  font-familY: space mono;
  font-weight: 100;
  font-size: 20px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 20px;

  color: white;
  text-indent: 50px;
}

main{
  margin-bottom: 350px;
}

/*  RESPONSIVE DESIGN   RESPONSIVE DESIGN   RESPONSIVE DESIGN    RESPONSIVE DESIGN    RESPONSIVE DESIGN */


@media only screen and (max-width: 568px){

  .main-img{
    width: 100%;
    height: 250px;
    
  }

  .main-heading{
    color: white;
    position: absolute;
    top: 120px;
    left: 25px;
  
    font-family: Poppins;
    font-size: 25px;
    font-weight: bold;
  
  }
  
  .subtext{
    color: white;
    position: absolute;
    top: 150px;
    left: 25px;
  
    font-family: Space mono;
    font-size: 10px;
  }

  .sub-heading1{
    color: white;
    margin-top: 50px;
    margin-bottom: 30px;
  
    font-size: 30px;
    font-family: poppins;
    font-weight: bold;
    text-shadow: 4px 4px 4px rgb(0, 68, 255);
  }
  
  .heading-text1{
    margin-top: 20px;
    margin-left: 18px;
    margin-right: 16px;
    text-indent: 50px;
  
    color: white;
  
    font-size: 14px;
    font-family: space mono;
  
  }

  .sub-heading2{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-right: px;
    color: white;
  
    font-size: 30px;
    font-family: poppins;
    font-weight: bold;
    text-shadow: 4px 4px 4px rgb(0, 68, 255);
  }
  
  .heading-text2{
    margin-top: 20px;
    margin-left: 18px;
    margin-right: 16px;
    text-indent: 50px;
  
    color: white;
  
    font-size: 14px;
    font-family: space mono;
  }

  .sub-founder-div{
    height: 2500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    margin-bottom: 200px;
  }

  .founders-div{
    width: 100%;
    height: 1200px;
    margin-top: 50px;
  
    display: flex;
    justify-content: space-around;
    
  
  }
  
  .sub-heading3{
    color: white;
    font-size: 30px;
    font-family: Poppins;
    font-weight: bold;
    margin-top :50px;
    text-shadow: 4px 4px 4px rgb(0, 68, 255);
    margin-bottom: 30px;
  }

  .founder-div1{
    position: absolute;
    left: 10px;
    right: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(30, 73, 150);
    margin-left: 0px;
  
    border-radius: 30px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.767) ;
  
    border-style: solid;
    border-width: 0.1px;
    border-color: transparent;
  
    transition: border-color 0.75s;
  }
  
  
  .founder-div2{
    position: absolute;
    top: 2500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(42, 83, 150);
    margin-left: 10px;
    margin-right: 10px;
   
    border-radius: 30px;
    box-shadow: 5px 5px 20px black ;
  
    border-style: solid;
    border-width: 0.1px;
    border-color: transparent;
  
    transition: border-color 0.75s;
  
  }
  
  
  .founder-div3{
    position: absolute;
    top: 3500px;
    right: 10px;
    left: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(30, 62, 150);
    margin-right: 0px;
  
    border-radius: 30px;
    box-shadow: 5px 5px 20px black ;
  
    border-style: solid;
    border-width: 0.1px;
    border-color: transparent;
  
    transition: border-color 0.75s;
  
  }

  
  .founder-head{
    font-weight: bold;
    font-family: poppins;
    font-size: 25px;
  
    margin-top: 150px;
    color: white;
  
  
  }
  
  .founder-img{
    height: 300px;
    margin-top: 50px;
    border-radius: 30px;
  
    border-style: solid;
    border-width: 0.1px;
    border-color: white;
  }
  
  .founder-text{
    font-familY: space mono;
    font-weight: 100;
    font-size: 16px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
  
    color: white;
    text-indent: 50px;
  }


  body{
    background-color: black;
  }

  main{
    margin-bottom: 700px;
  }

}

@media only screen and (max-width: 1468px) and (min-width: 569px) {

  .main-img{
    width: 100%;
    height: 100%;
    
  }

  .main-heading{
    color: white;
    position: absolute;
    top: 170px;
    left: 85px;
  
    font-family: Poppins;
    font-size: 45px;
    font-weight: bold;
  
  }
  
  .subtext{
    color: white;
    position: absolute;
    top: 220px;
    left: 65px;
  
    font-family: Space mono;
    font-size: 16px;
  }

  .sub-heading1{
    color: white;
    margin-top: 50px;
    margin-bottom: 30px;
  
    font-size: 40px;
    font-family: poppins;
    font-weight: bold;
    text-shadow: 4px 4px 4px rgb(0, 68, 255);
  }
  
  .heading-text1{
    margin-top: 20px;
    margin-left: 18px;
    margin-right: 16px;
    text-indent: 50px;
  
    color: white;
  
    font-size: 18px;
    font-family: space mono;
  
  }

  .sub-heading2{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-right: px;
    color: white;
  
    font-size: 40px;
    font-family: poppins;
    font-weight: bold;
    text-shadow: 4px 4px 4px rgb(0, 68, 255);
  }
  
  .heading-text2{
    margin-top: 20px;
    margin-left: 18px;
    margin-right: 16px;
    text-indent: 50px;
  
    color: white;
  
    font-size: 18px;
    font-family: space mono;
  }

  .sub-founder-div{
    height: 2500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    margin-bottom: 200px;
  }

  .founders-div{
    width: 100%;
    height: 1200px;
    margin-top: 50px;
  
    display: flex;
    justify-content: space-around;
    
  
  }
  
  .sub-heading3{
    color: white;
    font-size: 40px;
    font-family: Poppins;
    font-weight: bold;
    margin-top :50px;
    text-shadow: 4px 4px 4px rgb(0, 68, 255);
    margin-bottom: 30px;
  }

  .founder-div1{
    position: absolute;
    left: 150px;
    right: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(30, 73, 150);
    margin-left: 0px;
  
    border-radius: 30px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.767) ;
  
    border-style: solid;
    border-width: 0.1px;
    border-color: transparent;
  
    transition: border-color 0.75s;
  }
  
  
  .founder-div2{
    position: absolute;
    top: 2650px;
    left: 64px;
    right: 64px;


    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(42, 83, 150);
   
    border-radius: 30px;
    box-shadow: 5px 5px 20px black ;
  
    border-style: solid;
    border-width: 0.1px;
    border-color: transparent;
  
    transition: border-color 0.75s;
  
  }
  
  
  .founder-div3{
    position: absolute;
    top: 3500px;
    right: 150px;
    left: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(30, 62, 150);
    margin-right: 0px;
  
    border-radius: 30px;
    box-shadow: 5px 5px 20px black ;
  
    border-style: solid;
    border-width: 0.1px;
    border-color: transparent;
  
    transition: border-color 0.75s;
  
  }

  
  .founder-head{
    font-weight: bold;
    font-family: poppins;
    font-size: 25px;
  
    margin-top: 150px;
    color: white;
  
  
  }
  
  .founder-img{
    height: 300px;
    margin-top: 50px;
    border-radius: 30px;
  
    border-style: solid;
    border-width: 0.1px;
    border-color: white;
  }
  
  .founder-text{
    font-familY: space mono;
    font-weight: 100;
    font-size: 16px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
  
    color: white;
    text-indent: 50px;
  }


  body{
    background-color: black;
  }

  main{
    margin-bottom: 500px;
  }

}