.header{
  position: fixed;
  left: 0px;
  right: 0PX;
  top: 0PX;

  display: flex;
  flex-direction: row;

  height: 150px;
  justify-content: space-between;

  z-index: 100000;
}

/*sections of headers*/

.left-section{
  width: 100px;

  display: flex;
  z-index: 10000;
}

.middle-section{
  width: 240px;

  display: flex;
  align-items: center;
  z-index: 10000;
  
}

.right-section{
  width: 200px;

  display: flex;
  z-index: 10000;
}

/* items in section */

.menu{
  height: 75px;
  margin-left: 10px;

  transition: opacity 0.9s;
}

.menu:hover{
  opacity: 0.55;
}

.website-logo{
  height: 120px;
  margin-left: 110px;
  z-index: 10000;
  
}

.sign-up{
  font-family: Space mono;
  font-weight: bold;
  font-size: 20px;
  color: white;
  
  background-color: transparent;;
  margin-left: 55px;
  margin-top: 15px;

  padding: 15px;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  border-color: white;

  transition: border-color 1s;
}

.sign-up:hover{
  border-color: rgb(0, 102, 255);
}

/*  RESPONSIVE DESIGN   RESPONSIVE DESIGN   RESPONSIVE DESIGN    RESPONSIVE DESIGN    RESPONSIVE DESIGN */
  
@media only screen and (max-width: 768px) {
  .menu{
    height: 55px;
    margin-left: 10px;
    margin-top: 25px;
  
    transition: opacity 0.9s;
  }
  
  .menu:hover{
    opacity: 0.55;
  }
  
  .website-logo{
    height: 80px;
    z-index: 10000;
    
  }
  
  .sign-up{
    font-family: Space mono;
    font-weight: bold;
    font-size: 14px;
    color: white;
    
    background-color: transparent;;
    margin-top: 30px;
  
    padding: 15px;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: white;
  
    transition: border-color 1s;
  }

  .left-section{
    width: 50px;
  
    display: flex;
    z-index: 10000;
  }
  
  .middle-section{
    width: 250px;
  
    display: flex;
    align-items: center;
    z-index: 10000;
    
  }
  
  .right-section{
    width: 250px;
  
    display: flex;
    z-index: 10000;
  }
}