
/*first part*/

.main-page-content{
  display: flex;
}

.main-page-text{
  font-family: Poppins;
  font-weight: bold;
  font-size: 50px;


  color:white;
  position: absolute;
  margin-top: 770px;
  margin-left: 25px;
}

.main-page-subtext{
  font-family: Poppins;
  font-size: 45px;

  color: white;
  position: absolute;
  margin-top: 850px;
  margin-left: 30px;
}

.main-page-picture{
  height: 100%;
  width: 100%;
}

/*2nd part (picture and text)*/
.main-page-content2{
  display: flex;
}

.main-page-text2{
  font-family: Poppins;
  font-size: 50px;
  font-weight: bold;

  color: white;
  position: absolute;
  margin-left: 1300px;
  margin-top: 200px;
}

.main-page-subtext2{
  font-size: 45px; 
  font-family: Poppins;

  color: white;
  position:absolute;
  margin-left: 1100px;
  margin-top: 290px;
}

.main-page-paragraph{
  font-size: 35px;
  font-family: Alexandria;
  position: absolute;
  color: white;

  margin-top: 700px;
  margin-left: 100px;

}

/*3rd part */

.main-page-text3{
  font-family: Poppins;
  font-size: 50px;

  color: white;
  Position: absolute;
  margin-top: 400px;
  margin-left: 670px;
}

.main-page-subtext3{
  font-family: Poppins;
  font-weight: bold;
  font-size: 50px;

  position: absolute;
  color: white;
  margin-top: 470px;
  margin-left: 800px;
}

.main-page-button{
  font-family: space mono;
  font-weight: bold;
  font-size: 30px;
  color: white;

  position: absolute;
  margin-top: 560px;
  margin-left: 790px;

  padding: 10px;
  border-width: 2px;
  background-color: transparent;
  border-color: white;
  border-radius: 10px;

  transition: border-color 0.75s;
}

.main-page-button:hover{
  border-color: rgb(0, 102, 255);
  cursor: pointer;
}

/*4th part*/

.main-page-text4{
  font-family: Poppins;
  font-size: 50px;

  color: white;
  Position: absolute;
  margin-top: 700px;
  margin-left: 170px;
}

.main-page-button2{
  font-family: space mono;
  font-weight: bold;
  font-size: 30px;
  color: white;

  position: absolute;
  margin-top: 860px;
  margin-left: 170px;

  padding: 10px;
  border-width: 2px;
  background-color: transparent;
  border-color: white;
  border-radius: 10px;

  transition: border-color 1s;
}

.main-page-button2:hover{
  border-color: rgb(0, 102, 255);
  cursor: pointer
}


/*5th part*/

.main-page-text5{
  font-family: Poppins;
  font-weight: bold;
  font-size: 50px;

  color: white;
  Position: absolute;
  margin-left: 1100px;
  margin-top: 200px;
}

.main-page-subtext5{
  font-family: Poppins;
  font-size: 30px;

  position: absolute;
  color: white;
  margin-top: 400px;
  margin-left: 1100px;
}

.main-page-button3{
  font-family: space mono;
  font-weight: bold;
  font-size: 30px;
  color: rgb(255, 255, 255);

  position: absolute;
  margin-top: 600px;
  margin-left: 1100px;

  padding: 10px;
  border-width: 2px;
  background-color: transparent;
  border-color: rgb(255, 255, 255);
  border-radius: 10px;

  transition: border-color 1s;
}

.main-page-button3:hover{
  border-color: rgb(0, 102, 255);
  cursor: pointer
}

/*  RESPONSIVE DESIGN   RESPONSIVE DESIGN   RESPONSIVE DESIGN    RESPONSIVE DESIGN    RESPONSIVE DESIGN */

@media only screen and (max-width: 568px) {

  .main-page-text{
    font-family: Poppins;
    font-weight: bold;
    font-size: 25px;
  
  
    color:white;
    position: absolute;
    margin-top: 150px;
    margin-left: 25px;
  }
  
  .main-page-subtext{
    font-family: Poppins;
    font-size: 16px;
  
    color: white;
    position: absolute;
    margin-top: 190px;
    margin-left: 25px;
  }

  
  /*2nd part (picture and text)*/
  .main-page-content2{
    display: flex;
  }

  .main-page-text2{
    font-family: Poppins;
    font-size: 25px;
    font-weight: bold;

    color: white;
    position: absolute;
    margin-left: 110px;
    margin-top: 50px;
  }

  .main-page-subtext2{
    font-size: 16px; 
    font-family: Poppins;

    color: white;
    position:absolute;
    margin-left: 50px;
    margin-top: 90px;
  }

  .main-page-paragraph{
    font-size: 16px;
    font-family: Alexandria;
    position: absolute;
    color: white;

    margin-top: 150px;
    margin-left: 50px;

  }

    /*3rd part */

  .main-page-text3{
    font-family: Poppins;
    font-size: 20px;

    color: white;
    Position: absolute;
    margin-top: 50px;
    margin-left: 90px;
  }

  .main-page-subtext3{
    font-family: Poppins;
    font-weight: bold;
    font-size: 25px;

    position: absolute;
    color: white;
    margin-top: 80px;
    margin-left: 135px;
  }

  .main-page-button{
    font-family: space mono;
    font-weight: bold;
    font-size: 14px;
    color: white;

    position: absolute;
    margin-top: 120px;
    margin-left: 120px;

    padding: 10px;
    border-width: 2px;
    background-color: transparent;
    border-color: white;
    border-radius: 10px;

    transition: border-color 0.75s;
  }

      /*4th part*/

  .main-page-text4{
    font-family: Poppins;
    font-size: 16px;

    color: white;
    Position: absolute;
    margin-top: 120px;
    margin-left: 20px;
  }

  .main-page-button2{
    font-family: space mono;
    font-weight: bold;
    font-size: 14px;
    color: white;

    position: absolute;
    margin-top: 180px;
    margin-left: 20px;

    padding: 10px;
    border-width: 2px;
    background-color: transparent;
    border-color: white;
    border-radius: 10px;

    transition: border-color 1s;
  }

  /*5th part*/

  .main-page-text5{
    font-family: Poppins;
    font-weight: bold;
    font-size: 12px;
  
    color: white;
    Position: absolute;
    margin-left: 10px;
    margin-top: 50px;
  }
  
  .main-page-subtext5{
    font-family: Poppins;
    font-size: 10px;
  
    position: absolute;
    color: white;
    margin-top: 120px;
    margin-left: 0px;
    padding-left: 180px;
  }

  .main-page-button3{
    font-family: space mono;
    font-weight: bold;
    font-size: 10px;
    color: rgb(255, 255, 255);
  
    position: absolute;
    margin-top: 300px;
    margin-left: 180px;
  
    padding: 10px;
    border-width: 2px;
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
  
    transition: border-color 1s;
  }

  

}

@media only screen and (max-width: 1368px) and (min-width: 569px) {

  .main-page-text{
    font-family: Poppins;
    font-weight: bold;
    font-size: 30px;
  
  
    color:white;
    position: absolute;
    margin-top: 380px;
    margin-left: 25px;
  }
  
  .main-page-subtext{
    font-family: Poppins;
    font-size: 21px;
  
    color: white;
    position: absolute;
    margin-top: 430px;
    margin-left: 25px;
  }

  
  /*2nd part (picture and text)*/
  .main-page-content2{
    display: flex;
  }

  .main-page-text2{
    font-family: Poppins;
    font-size: 30px;
    font-weight: bold;

    color: white;
    position: absolute;
    margin-left: 510px;
    margin-top: 100px;
  }

  .main-page-subtext2{
    font-size: 21px; 
    font-family: Poppins;

    color: white;
    position:absolute;
    margin-left: 420px;
    margin-top: 140px;
  }

  .main-page-paragraph{
    font-size: 21px;
    font-family: Alexandria;
    position: absolute;
    color: white;

    margin-top: 400px;
    margin-left: 50px;

  }

    /*3rd part */

  .main-page-text3{
    font-family: Poppins;
    font-size: 25px;

    color: white;
    Position: absolute;
    margin-top: 150px;
    margin-left: 290px;
  }

  .main-page-subtext3{
    font-family: Poppins;
    font-weight: bold;
    font-size: 30px;

    position: absolute;
    color: white;
    margin-top: 180px;
    margin-left: 345px;
  }

  .main-page-button{
    font-family: space mono;
    font-weight: bold;
    font-size: 20px;
    color: white;

    position: absolute;
    margin-top: 240px;
    margin-left: 320px;

    padding: 10px;
    border-width: 2px;
    background-color: transparent;
    border-color: white;
    border-radius: 10px;

    transition: border-color 0.75s;
  }

      /*4th part*/

  .main-page-text4{
    font-family: Poppins;
    font-size: 21px;

    color: white;
    Position: absolute;
    margin-top: 350px;
    margin-left: 20px;
  }

  .main-page-button2{
    font-family: space mono;
    font-weight: bold;
    font-size: 20px;
    color: white;

    position: absolute;
    margin-top: 440px;
    margin-left: 20px;

    padding: 10px;
    border-width: 2px;
    background-color: transparent;
    border-color: white;
    border-radius: 10px;

    transition: border-color 1s;
  }

  /*5th part*/

  .main-page-text5{
    font-family: Poppins;
    font-weight: bold;
    font-size: 25px;
  
    color: white;
    Position: absolute;
    margin-left: 380px;
    margin-top: 50px;
  }
  
  .main-page-subtext5{
    font-family: Poppins;
    font-size: 20px;
  
    position: absolute;
    color: white;
    margin-top: 150px;
    margin-left: 0px;
    padding-left: 380px;
  }

  .main-page-button3{
    font-family: space mono;
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
  
    position: absolute;
    margin-top: 330px;
    margin-left: 380px;
  
    padding: 10px;
    border-width: 2px;
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
  
    transition: border-color 1s;
  }

  

}

@media only screen and (max-width: 1868px) and (min-width: 1369px) {

  .main-page-text{
    font-family: Poppins;
    font-weight: bold;
    font-size: 50px;
  
  
    color:white;
    position: absolute;
    margin-top: 580px;
    margin-left: 25px;
  }
  
  .main-page-subtext{
    font-family: Poppins;
    font-size: 40px;
  
    color: white;
    position: absolute;
    margin-top: 650px;
    margin-left: 25px;
  }

  
  /*2nd part (picture and text)*/
  .main-page-content2{
    display: flex;
  }

  .main-page-text2{
    font-family: Poppins;
    font-size: 60px;
    font-weight: bold;

    color: white;
    position: absolute;
    margin-left: 550px;
    margin-top: 100px;
  }

  .main-page-subtext2{
    font-size: 50px; 
    font-family: Poppins;

    color: white;
    position:absolute;
    margin-left: 320px;
    margin-top: 200px;
  }

  .main-page-paragraph{
    font-size: 35px;
    font-family: Alexandria;
    position: absolute;
    color: white;

    margin-top: 600px;
    margin-left: 50px;

  }

    /*3rd part */

  .main-page-text3{
    font-family: Poppins;
    font-size: 60px;

    color: white;
    Position: absolute;
    margin-top: 240px;
    margin-left: 420px;
  }

  .main-page-subtext3{
    font-family: Poppins;
    font-weight: bold;
    font-size: 50px;

    position: absolute;
    color: white;
    margin-top: 310px;
    margin-left: 620px;
  }

  .main-page-button{
    font-family: space mono;
    font-weight: bold;
    font-size: 40px;
    color: white;

    position: absolute;
    margin-top: 440px;
    margin-left: 560px;

    padding: 10px;
    border-width: 2px;
    background-color: transparent;
    border-color: white;
    border-radius: 10px;

    transition: border-color 0.75s;
  }

      /*4th part*/

  .main-page-text4{
    font-family: Poppins;
    font-size: 40px;

    color: white;
    Position: absolute;
    margin-top:600px;
    margin-left: 20px;
  }

  .main-page-button2{
    font-family: space mono;
    font-weight: bold;
    font-size: 30px;
    color: white;

    position: absolute;
    margin-top: 740px;
    margin-left: 20px;

    padding: 10px;
    border-width: 2px;
    background-color: transparent;
    border-color: white;
    border-radius: 10px;

    transition: border-color 1s;
  }

  /*5th part*/

  .main-page-text5{
    font-family: Poppins;
    font-weight: bold;
    font-size: 25px;
  
    color: white;
    Position: absolute;
    margin-left: 380px;
    margin-top: 50px;
  }
  
  .main-page-subtext5{
    font-family: Poppins;
    font-size: 20px;
  
    position: absolute;
    color: white;
    margin-top: 150px;
    margin-left: 0px;
    padding-left: 380px;
  }

  .main-page-button3{
    font-family: space mono;
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
  
    position: absolute;
    margin-top: 330px;
    margin-left: 380px;
  
    padding: 10px;
    border-width: 2px;
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
  
    transition: border-color 1s;
  }

  

}


